.tahoma-font {
  font-family:Tahoma;
  font-weight:bold;
}

.biggest-deals {
  font-family:Arial;
  font-weight:bold;
  font-size:25px;

  margin-bottom:10px;
}

.sales-end {
  font-family:Arial;
  font-style:italic;
  color:red;

  margin-top:0px;
}

.HTML-CSS {
  font-weight:bold;
  font-family:Verdana;
  font-size:16px;
  
  margin-bottom:0px
}

.beginner-to {
  font-family:Verdana;
  color:rgb(100,100,100);
  font-size:14px;

  margin-top:2px;
  margin-bottom:0px;
}

.in-this {
  font-family:Verdana;
  font-size:14px;
  width:270px;

  margin-top:15px;
  margin-bottom:0px;
}

.get-started {
  color:white;
  background-color:green;
  cursor:pointer;

  border-radius:5px;
  border:none;
  padding-top:8px;
  padding-bottom:8px;
  padding-left:15px;
  padding-right:15px;

  margin-top:20px;
}

.get-started:hover {
  background-color:rgb(1,118,1)
}

.get-started:active {
  background-color:rgb(1, 108, 1);
}

.shopping-for {
  font-family:Arial;
  font-weight:bold;
  font-size:25px;

  width:400px;
  text-align:center;
}

.apple-work{
  font-family:Arial;

  width:400px;
  text-align:center;
}

.learn-more {
  font-family:Arial;
  font-size:15px;
  color:rgb(58,108,199);

  width:400px;
  text-align:center;
}

.new {
  color:rgb(245,99,0);
  font-family:Arial;
  font-weight:bold;
  font-size:12px;

  width:400px;
  text-align:center;
  margin-top:50px;
  margin-bottom:0px;
}

.mac-pro {
  font-family:Arial;
  font-weight:bold;
  font-size:20px;

  margin-top:10px;
  margin-bottom:5px;

  width:400px;
  text-align:center;
}

.supercharged {
  font-family:Arial;
  font-weight:bold;
  font-size:35px;

  margin-top:0px;
  margin-bottom:0px;

  width:400px;
  text-align:center;
}

.price {
  font-family:Arial;

  margin-top:10px;

  width:400px;
  text-align:center;
}

.buy {
  font-family:Arial;
  color:white;
  font-weight:bold;
  background-color:rgb(66, 138, 231);

  padding-left:12px;
  padding-right:12px;
  padding-top:5px;
  padding-bottom:5px;
  border:none;

  margin-left:170px;
  margin-right:180px;
  border-radius:12px;
  text-align:center;
  cursor:pointer;
}

.buy:hover {
  background-color:rgb(46,118,231);
}

.buy:active {
  background-color:rgb(26,98,231);
}

.market-price {
  font-family:Arial;
  font-size:25px;
  margin-bottom:5px;
}

.USD {
  margin-left:2px;
  color:rgb(117, 111, 111);
  font-size:15px;
}

.percent-inc {
  color:rgb(24,128,56);
  font-family:Arial;
  font-size:14px;
  margin-top:0px;
  margin-bottom:5px;
}

.after-hours {
  color:rgb(117, 111, 111);
  font-size:14px;
  font-family:Arial;
  margin-top:0px;
}

.loss-percent {
  color:red;
}

.code-camp {
  font-family:Arial;
  font-weight:bold;
  margin-bottom:0px;
}

.username {
  font-weight:normal;
  color:rgb(128,128,128);
  margin-left:2px;
}

.caption {
  font-family:Arial;
  width:550px;
  margin-top:8px;
}

.post {
  font-family:Arial;
}

.mention {
  color:rgb(66,138,231);
}