/*13a*/
.flex-1 {
  display:flex;
  flex-direction:row;
  height:50px;
  margin-bottom:20px;
}

.flex-2 {
  width:100px;
  background-color:lightpink;
  display:flex;
  justify-content:center;
  align-items:center;
}

.item1 {
  color:white;
  background-color:black;
  height:fit-content;
}

.box {
  width:200px;
  background-color:lightblue;
}

/*13b*/
.box1 {
  width:100px;
  background-color:lightpink;
}

.flex-3 {
  width:200px;
  background-color:lightblue;
  display:flex;
  flex-direction:column;
  justify-content:center;
}

.item2 {
  margin-top:0;
  margin-bottom:0;
}

.item3 {
  display:flex;
  flex-direction:row;
  justify-content:space-between;
}

.text {
  color:white;
  background-color:black;
  height:fit-content;
  margin-top:0;
  margin-bottom:0;
}

/*13c, 13d & 13e*/
.inbox1 {
  width:400px;
  border-radius:5px;
  margin-top:20px;
  margin-bottom:40px;
  padding-bottom:20px;

  border:solid;
  border-width:1px;
  border-color:rgb(192,192,192);
}

.inbox-text {
  font-family:Arial;
  color:rgb(160,160,160);
  font-size:12px;
  margin-left:14px;
  padding-top:0px;
  margin-top:10px;
}

.email {
  width:450px;
  height:70px;
  display:flex;
  flex-direction:row;
  align-items:center;
}

.pfpsection {
  width:85px;
}

.email-sender {
  width:50px;
  height:50px;
  border-radius:25px;
  object-fit:cover;

  margin-left:15px;
  margin-right:10px;
}

.textsection {
  width:300px;
  height:70px;
  display:flex;
  flex-direction:column;
  justify-content:space-evenly;
}

.flexat {
  width:300px;
  height:10px;

  display:flex;
  flex-direction:row;
  object-fit:space-between;
  align-items:center;

  margin-top:0;
  margin-bottom:0;
}

.email-author {
  font-family:Arial;
  font-weight:bold;
  font-size:16px;
  width:200px;

  margin-top:0;
  margin-bottom:0;
}

.time-sent {
  font-family:Arial;
  font-size:13px;
  color:rgb(160,160,160);
  padding-left:40px;

  margin-top:0;
  margin-bottom:0;
}

.subject-line {
  font-family:Arial;
  font-size:13px;
  font-weight:bold;
  
  margin-top:0;
  margin-bottom:0;
}

.email-preview {
  font-family:Arial;
  color:rgb(124,124,124);
  font-size:13px;

  margin-top:0;
  margin-bottom:0;
}

/*13f & 13g*/
.full-tweet {
  width:400px;
  display:flex;
  flex-direction:column;
}

.line1 {
  width:400px;
  height:80px;
  display:flex;
  flex-direction:row;
  align-items:middle;
}

.line2 {
  width:400px;
  height:100px;
  display:flex;
  flex-direction:row;
}

.twitter-pfp {
  width:50px;
  height:50px;
  border-radius:25px;
  object-fit:cover;

  margin-top:10px;
  margin-bottom:10px;
  margin-left:10px;
  margin-right:10px;
}

.tweet {
  display:flex;
  flex-direction:column;
  height:30px;
  width:300px;
  margin-top:15px;
}

.user {
  margin-top:0;
  margin-bottom:5px;

  font-family:Arial;
}

.name1 {
  font-weight:bold;
}

.name2 {
  color:rgb(100,100,100);
}

.tweet-text {
  margin-top:0;
  margin-bottom:0;

  font-family:Arial;
  width:350px;
}

.spacer {
  width:80px;
  height:100px;
}

.retweet {
  display:flex;
  flex-direction:row;

  width:325px;
  height:90px;
  border-radius:15px;
  border:solid;
  border-width:1px;
  border-color:rgb(204, 204, 204);
  margin-top:15px;
  background-color:rgb(204, 204, 204);
}

.rt-text {
  background-color:white;
  margin-left:80px;

  border-top-right-radius:15px;
  border-bottom-right-radius:15px;
}

.link {
  font-family:Arial;
  font-size:15px;
  color:rgb(109, 109, 109);

  margin-top:15px;
  margin-bottom:0;
  margin-left:15px;
}

.description {
  font-family:Arial;
  font-size:15px;
  margin-left:15px;
  margin-top:5px;
}