.uber-button {
  color:white;
  background-color:black;
  padding-left:20px;
  padding-right:20px;
  padding-top:10px;
  padding-bottom:10px;
  cursor:pointer;

  display:block;
  margin-bottom:20px;
}

.uber-button:hover {
  opacity:0.8;
}

.uber-button:active {
  opacity:0.5;
}

.amazon-button {
  color:black;
  background-color:rgb(255,216,20);
  padding-left:50px;
  padding-right:50px;
  padding-top:10px;
  padding-bottom:10px;
  border:none;
  border-radius:15px;
  cursor:pointer;

  display:block;
  margin-bottom:20px;
}

.amazon-button:hover {
  background-color:rgb(245,206,10);
}

.github-button {
  color:white;
  background-color:rgb(46,164,79);
  border-radius: 5px;
  padding-top:10px;
  padding-bottom:10px;
  padding-left:20px;
  padding-right:20px;
  font-weight:bold;
  border:none;
  cursor:pointer;

  display:block;
  margin-bottom:20px;
}

.github-button:hover {
  box-shadow: 5px 10px 10px rgba(0,0,0,0.15);
}

.github-button:active {
  opacity:0.8;
}

.bootstrap-button1 {
  background-color:rgb(121,82,179);
  color:white;
  font-weight:bold;
  padding-top:10px;
  padding-bottom:10px;
  padding-left:28px;
  padding-right:28px;
  border-radius:3px;
  border:none;
  cursor:pointer;

  display:inline-block;
  margin-bottom:20px;
}

.bootstrap-button1:hover {
  background-color:rgb(111,72,169);
}

.bootstrap-button1:active {
  opacity:0.8;
}

.bootstrap-button2 {
  background-color:white;
  color:rgb(108,117,125);
  border-color:rgb(108,117,125);
  border-width:1px; 
  padding-bottom:8.5px;
  padding-top:8.5px;
  padding-left:20px;
  padding-right:20px;
  border-radius:2.5px;
  font-weight:bold;
  cursor:pointer;

  display:inline-block;
  margin-bottom:20px;
}

.bootstrap-button2:hover {
  background-color:rgb(108,117,125);
  color:white;
  border:none;
}

.boostrap-button2:active {
  opacity:0.5;
}

.linkedin-button1 {
  border-radius:25px;
  font-weight:bold;
  background-color:rgb(10,102,194);
  border:none;
  color:white;
  padding-top:15px;
  padding-bottom:15px;
  padding-left:35px;
  padding-right:35px;
  cursor:pointer;

  display:inline-block;
  margin-bottom:20px;    
}

.linkedin-button1:hover {
  color:rgb(10,102,194);
  background-color:white;
  border:solid;
  border-width:2px;
  padding-top:13px;
  padding-bottom:13px;
  padding-left:33px;
  padding-right:33px;
}

.linkedin-button1:active {
  opacity:0.5;
}

.linkedin-button2 {
  font-weight:bold;
  color:rgb(10,102,194);
  background-color:white;
  border-color:rgb(10,102,194);
  border-radius:25px;
  padding-top:14px;
  padding-bottom:14px;
  padding-left:20px;
  padding-right:20px;
  border-width:1px;
  cursor:pointer;

  display:inline-block;
  margin-bottom:20px;
}

.linkedin-button2:hover {
  background-color:rgb(226, 240, 254);
}

.linkedin-button2:active {
  opacity:0.5;
}

.amazon-link {
  margin-top: 50px;
  display:block;
}

.amazon-title {
  font-weight:bold;
  font-size:35px;
}

.amazon-price {
  font-weight:bold;
  color:rgb(0,118,0);
}

.add-cart {
  color:black;
  background-color:rgb(255,216,20);
  padding-left:40px;
  padding-right:40px;
  padding-top:8px;
  padding-bottom:8px;
  border:none;
  border-radius:15px;
  cursor:pointer;
}

.add-cart:hover {
  opacity:0.8;
}

.add-cart:active {
  opacity:0.5;
}

.buy-now {
  color:black;
  background-color:rgb(255,164,28);
  padding-left:40px;
  padding-right:40px;
  padding-top:8px;
  padding-bottom:8px;
  border:none;
  border-radius:15px;
  cursor:pointer;
}

.buy-now:hover {
  opacity:0.8;
}

.buy-now:active {
  opacity:0.5;
}

.placeholder-1 {
  margin-top:0px;
  margin-bottom:0px;
}