.sidebar {
  display:flex;
  flex-direction:column;
  position:fixed;
  left:0;
  bottom:0;
  background-color:white;
  z-index:200;
  padding-top:5px;
}

@media (max-width:1199px) {
  .sidebar {
    width:72px;
    top:55px;
  }

  .sidebar-link img {
    height:24px;
    margin-bottom:4px;
  }

  .sidebar-link div {
    font-size:10px;
  }
}

@media (min-width:1200px) {
  .sidebar {
    width:108px;
    top:90px;
  }

  .sidebar-link img {
    height:34px;
    margin-bottom:6px;
  }

  .sidebar-link div {
    font-size:14px;
  }
}

.sidebar-link {
  flex:1;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  cursor:pointer;
}

.sidebar-link:hover {
  background-color:rgb(235,235,235);
}
